@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,900;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    
    background-image: url(Background.jpg);
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    color: #fff;
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 44px;
}

header .navigation a:hover{
    background: rgb(0, 0, 0);
}
.content{
    display: grid;
    margin-left: -10%;
    margin-right: 20%;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 10em;
}
.content > div{
    padding: 1em;  
}
.content > div p{
    text-align: center;
    font-weight: lighter;
    padding-bottom: 57px;
    letter-spacing: 1.5px;
    color:WHITE;
}
.content > div > img{
    width: 110%;
    height: 110%;
    object-fit: cover;
}
@media only screen and (max-width: 1081px){
    .content{
        display: grid;
        margin-left: 15%;
        margin-right: 10%;
        grid-template-columns: 50% 50% ;
        grid-gap: 1em;
    }
}
@media only screen and (max-width: 1040px){
    .navigationbar{
        display:none;
    }
}
@media only screen and (max-width: 695px){
    .content{
        grid-template-columns: 100% ;
    }
}
@media only screen and (max-width: 597px){
    .content > div > img{
        height: 80%;
    }
}
.restaurantname {
    text-align: center;
    margin: 250px 150px;
}
h1{
    color: #ff4d4d;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 60px;
    margin-bottom: 40px;
}